## Redes Neurais Artificiais 2020.1

**Disciplina**: Redes Neurais Artificiais 2020.1  
**Professora**: Elloá B. Guedes (ebgcosta@uea.edu.br)  
**Github**: http://github.com/elloa  

### Alunos

Leonardo Monteiro Neres de Lima - 1615080320 (lmndl.eng16@uea.edu.br) <br>
Thatielen Oliveira Pereira - 1515080618 (top.eng@uea.edu.br) <br>
Vyctor Lima Negreiros - 1615080372 (vln.eng16@uea.edu.br) <br>

### Explorando uma base de dados

Nesta atividade prática iremos explorar a seguinte base de dados **_Forest Cover Type_**

1. Obtenha esta base de dados no seguinte link: https://www.kaggle.com/uciml/forest-cover-type-dataset/download
2. Consulte a documentação oficial da base de dados: https://archive.ics.uci.edu/ml/datasets/covertype
3. **Responda**:  
  3.1 O que é cada exemplo na base de dados?  
  3.2 Em que ano ela foi obtida?  
  3.3 Quem foram os responsáveis pela criação desta base de dados?

In [3]:
## Reservado para a importação de bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

### 3. Responda:
#### 3.1 O que é cada exemplo na base de dados?

**Cada exemplo da base de dados contém informações sobre árvores contidas na Floresta Nacional de Roosevelt, localizada no Colorado. Em cada exemplo, encontramos atributos como Elevação, Aspecto, Inclinação, Distância Horizontal das Rodovias, Medidas Relativas de Incidência de Luz, Tipo de Solo.**

#### 3.2 Em que ano ela foi obtida?

**Esse dataset foi obtido no ano de 1998.**

#### 3.3 Quem foram os responsáveis pela criação desta base de dados?

- **Jock A. Blackard, Coordenador do Programa GIS**
- **Dr. Denis J. Dean, Professor**
- **Dr. Charles W. Anderson, Professor Associado**

### Manipulando a base de dados

1. Abra a base de dados com o pandas
2. Imprima os 10 primeiros exemplos pertencentes à esta base
3. Imprima os 10 últimos exemplos pertencentes à esta base
4. Quantos exemplos esta base de dados possui?
5. Quais são os atributos que a base de dados possui e quais seus tipos?
6. Há algum dado faltante na base?
7. De acordo com a documentação da base de dados, qual o significado dos atributos do tipo "Soil Type"?  
  7.1 Este atributo é quantitativo ou qualitativo?  
  7.2 Qual o tipo de codificação utilizada para denotar este atributo? Consulte a seguinte referência:  
  * https://pbpython.com/categorical-encoding.html

### Manipulando a base de dados

#### 1. Abra a base de dados com o pandas.

In [6]:
data_path = os.path.join('data', 'covtype.csv')
data = pd.read_csv(data_path)

#### 2. Imprima os 10 primeiros exemplos pertencentes à esta base.

In [11]:
data.head(10)

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2596      51      3  ...          0.0          0.0         5.0
1       2590      56      2  ...          0.0          0.0         5.0
2       2804     139      9  ...          0.0          0.0         2.0
3       2785     155     18  ...          0.0          0.0         2.0
4       2595      45      2  ...          0.0          0.0         5.0
5       2579     132      6  ...          0.0          0.0         2.0
6       2606      45      7  ...          0.0          0.0         5.0
7       2605      49      4  ...          0.0          0.0         5.0
8       2617      45      9  ...          0.0          0.0         5.0
9       2612      59     10  ...          0.0          0.0         5.0

[10 rows x 55 columns]

#### 3. Imprima os 10 últimos exemplos pertencentes à esta base.

In [12]:
data.tail(10)

        Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
389372       3348     216     13  ...          0.0          0.0         1.0
389373       3353     220     13  ...          0.0          0.0         1.0
389374       3357     211     11  ...          0.0          0.0         1.0
389375       3359     202     11  ...          0.0          0.0         1.0
389376       3361     195     11  ...          0.0          0.0         1.0
389377       3362     189     11  ...          0.0          0.0         1.0
389378       3363     180     11  ...          0.0          0.0         7.0
389379       3362     176     11  ...          0.0          0.0         7.0
389380       3362     180     10  ...          0.0          0.0         7.0
389381       3362     184     10  ...          NaN          NaN         NaN

[10 rows x 55 columns]

#### 4. Quantos exemplos esta base de dados possui?

**Essa base de dados possui 389.382 exemplos.**

### Visualizando a base de dados

1. Baseando-se nos fundamentos de visualização de dados abordados na disciplina, plote cada um dos atributos preditores de maneira a enfatizar a sua distribuição, tendência central e dispersão  
1.1 Considere que o número de columas no dataset é diferente do número de atributos, conforme discussão promovida a respeito do dataset  
1.2 Se preferir, opte por complementar as informações visuais com medidas estatísticas  
2. A partir da visualização elaborada, o que pode-se dizer a respeito do balanceamento do atributo-alvo?
3. Que tipo de tarefa de Aprendizado de Máquina é sugestiva para este problema?  
3.1 Apresente métricas de desempenho compatíveis para a avaliação do problema (liste-as)  
3.2 Escolha uma das métricas apresentadas para ser utilizada como referência pela equipe